<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="grammar" *ngIf="settingsService.grammarVisibility">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Grammar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vocabulary" *ngIf="settingsService.vocabularyVisibility">
      <ion-icon name="text-outline"></ion-icon>
      <ion-label>Vocabulary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kanji" *ngIf="settingsService.kanjiVisibility">
      <ion-icon name="language-outline"></ion-icon>
      <ion-label>Kanji</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
