<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Grammar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grammar</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-card
    *ngIf="grammarCards"
    [cards]="grammarCards"
    [type]="'grammar'"
    [level]="settingsService.level"
    [firstCard]="grammarCards[0]"
  ></app-card>
  <ion-label *ngIf="!grammarCards">No cards found for this level!</ion-label>
</ion-content>
